apiVersion: apps/v1
kind: Deployment
metadata:
name: node-ci-cd
spec:
replicas: 1
selector:
matchLabels:
app: node-ci-cd
template:
metadata:
labels:
app: node-ci-cd
spec:
containers:
- name: node-ci-cd
image: ninga8141/ci-cd-demo:latest
ports:
- containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
name: node-ci-cd-service
spec:
type: NodePort
selector:
app: node-ci-cd
ports:
- port: 3000
targetPort: 3000
nodePort: 30080