name: CI/CD with Docker


on:
push:
branches: ["main"]
pull_request:
branches: ["main"]


jobs:
test-build-push:
runs-on: ubuntu-latest


steps:
- name: Checkout repo
uses: actions/checkout@v3


- name: Set up Node.js
uses: actions/setup-node@v3
with:
node-version: '18'


- name: Install dependencies
run: npm ci


- name: Run tests
run: npm test


- name: Set up Docker Buildx
uses: docker/setup-buildx-action@v2


- name: Login to Docker Hub
uses: docker/login-action@v2
with:
username: ${{ secrets.DOCKER_USERNAME }}
password: ${{ CICDDOCKER }}


- name: Build and push Docker image
uses: docker/build-push-action@v4
with:
context: .
push: true
tags: ${{ secrets.DOCKER_USERNAME }}/ninga8141/ci-cd-demo:latest


- name: Image digest
run: echo "Image pushed: ${{ secrets.DOCKER_USERNAME }}/ninga8141/ci-cd-demo:latest"
